{{ partial "header.html" . }}
<section id="main">
	<h1 id="title">Blog Posts</h1>
	<ul class="list-group">  
{{ range .Data.Pages }}
    {{ .Render "summary"}}
{{ end }}
	</ul>
</section>
{{ partial "footer.html" . }}
