{{ partial "header.html" . }}<section id="main">
  <div>
   <h1 id="title">{{ .Title }}</h1>
   <ul>
   {{ $data := .Data }}
    {{ range $key, $value := .Data.Index.Alphabetical }}
<li>
 <a href="/{{ $data.Plural }}/{{ $value.Name | urlize }}.html"> {{ $value.Name }}</a> {{ $value.Count }}
</li>
    {{ end }}
   </ul>
  </div>
</section>
{{ partial "footer.html" . }}
