        </div>
      </div>
    </div>
    <div class="container">
      <hr>
      <footer id="footer">
        Copyright &copy; 1998 - 2019 RoboTamer
      </footer>
    </div>
      <script src="/static/js/jquery.js"></script>
      <script src="/static/js/bootstrap.min.js"></script>
      <script src="/static/js/robotamer.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-33624274-1', 'robotamer.com');
  ga('send', 'pageview');
</script>
</body>
</html>
