<!doctype html>
<html lang="{{ if isset .Params "language" }}{{ .Params.language }}{{else}}en{{ end }}">
  <head>
  <title>{{ .Title }}</title>
  <meta name="description" content="{{ .Description }}">
  <meta name="keywords" content="{{ range .Keywords }}{{ . }}, {{ end }}RoboTamer">
  <meta name="generator" content="Hugo">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta http-equiv="cache-control" content="public">
  <meta http-equiv="content-language" content="{{ if isset .Params "language" }}{{ .Params.language }}{{else}}en{{ end }}">
  <meta charset="UTF-8">
  <link rel="icon" href="favicon.ico" type="image/x-icon">

<link rel="stylesheet" href="https://yandex.st/highlightjs/8.0/styles/default.min.css">
<script src="https://yandex.st/highlightjs/8.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

   <!-- RSS -->
  <link href="/en/index.xml" rel="alternate" type="application/rss+xml" title="RoboTamer (RSS 2.0)">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/hugoicon.css">
    <link rel="stylesheet" href="/static/css/styles.css">
  </head>
  <body>
{{ partial "menu.html" . }}
    <div class="container" id="container">
      <div class="row">
        <div class="col-md-12">