{{ partial "header.html" . }}

<div class="jumbotron">
    <h2>My little space on the net</h2>
</div>
<div class="right">
  <img src="/static/img/hollywood.jpeg" alt="Logo" />
</div>
Here you will find mostly documentation for some of the things I have coded.<br />
Improvements and/or bug reports are encouraged.<br />
Go ahead feel right at home, at the top is the main menu pointing to each project.</p>

<p>Unless otherwise specified within the code, most everything you can find here is MIT licensed.
The link to the generic license is in the Meta menu.</p>

<p>This website has been created with <a href="http://github.com/spf13/hugo">hugo</a> a Go program that converts markdown files to a complete website.</p>

<hr>

<h2>PGP public key</h2>
<p>My key can be found at my <a href="/about.html">about</a> page</p>
<p>More info and why to use PGP can be found at the Electronic Frontier Foundations <a href="https://ssd.eff.org/">Surveillance Self-Defense</a> page</p>
{{ partial "footer.html" . }}